$heading-font: "Lato";
$body-font: "Open Sans";

$background-color: #f7f9fb;
$purple: #6202ee;
$light-grey: #696969;
$dark-blue: #036;
$red: #c42d3c;
$dark-red: #9b232f;
$translucent-grey: rgba(255, 255, 255, 0.5);
$blue: #6c93be;
$body-grey: #5a5e63;
$caption: #7a7f86;
$bold-black: #29292c;
$heading-black: #151517;
$background-colour: #d6fff1;
