@import "_fonts.scss";

input,
button,
button:hover,
button:active {
  border: none;
  outline: 0;
}

.mainWrapper {
  max-width: 500px;
  margin: 2em auto;
}

.heading {
  text-align: center;
  color: $heading-black;
  font-family: $heading-font;
  font-size: 48px;
  font-weight: 300;
}

.camera {
  margin: 1.5em;
  border: none;
}

.button {
  margin: 1em auto;
  width: 6em;
  transition: 0.3s ease-in-out;
}

.button:active {
  transform: scale(0.85);
}
